/* *---- Portable ---- screen < 768px ---- */

html {
  margin: 0 21px;
}

/* *---- Header ---- */

.barreAcceuil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barreAcceuil ul {
  padding-left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav {
  float: none;
  width: 100%;
}

nav ul li {
  margin-left: 0px;
}

nav ul li a {
  padding: 0 370px 0 120px;
}

nav ul li a:after {
  top: 50px;
}

.presentattion {
  margin: auto;
}

/* * -- Recherche -- */

.fa-solid.fa-magnifying-glass {
  display: unset;
}

#position {
  width: 53px;
}

#Rechercher {
  display: none;
}

/* *-- Filtres -- */

.filtres {
  display: unset;
}

.conteneurBoutonFiltres {
  display: grid;
  grid-template-columns: repeat(2, 46%);
  row-gap: 17px;
  column-gap: 14px;
}

.filtres h2 {
  display: inline;
  grid-column-end: span 2;
  margin-bottom: 0;
}

.texteFiltre {
  font-size: 11px;
}

#titreFiltres {
  display: block;
}

/* *--- Section Hebergement --- */

/* * --Les Plus Populaires-- */

aside {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.conteneurPopulaire {
  display: flex;
  flex-direction: column;
}

.boitePopulaire {
  width: 100%;
  max-width: unset;
}

/* * Hebergement Marseille */

article {
  width: 100%;
  background-color: white;
}

.sectionHebergement {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 100%;
}

.conteneurHebergement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.boiteHebergement {
  width: 100%;
  height: 199px;
  margin: auto;
}

.imageHebergement {
  width: 100%;
  height: 80%;
  object-fit: fill;
}

#afficherPlus {
  display: none;
}

/* *--Activites Marseille-- */

.conteneurActivite {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.boiteActivite {
  width: 100%;
  height: 199px;
  margin: auto;
}

.imageActivite {
  width: 100%;
  height: 80%;
  object-fit: fill;
}
