/* *---- Portable ---- screen < 768px ---- */
/* *---- Header ---- */

.presentattion {
  margin: auto;
}

/* *-- Filtres -- */

.filtres {
  display: unset;
}

.filtres h2 {
  display: inline;
}

.conteneurBoutonFiltres {
  display: grid;
  grid-template-columns: repeat(2, 46%);
  gap: 20px;
}

#titreFiltres {
  display: block;
}

/* *--- Section Hebergement --- */

/* * --Les Plus Populaires-- */

aside {
  width: 100%;
  border-radius: 0px;
}

.boitePopulaire {
  width: 80%;
}

/* * Hebergement Marseille */

article {
  width: 100%;
  background-color: white;
}

.sectionHebergement {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 100%;
}

.conteneurHebergement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.boiteHebergement {
  width: 100%;
  height: 199px;
  margin: auto;
}

.imageHebergement {
  width: 100%;
  height: 80%;
  object-fit: fill;
}

#afficherPlus {
  display: none;
}

/* *--Activites Marseille-- */

.conteneurActivite {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.boiteActivite {
  width: 100%;
  height: 199px;
  margin: auto;
}

.imageActivite {
  width: 100%;
  height: 80%;
  object-fit: fill;
}
