/* * Global */

@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  src: local(Raleway\static\Raleway-Medium.ttf);
}

.fa-solid.etoileVide {
  color: grey;
}

.fa-solid.etoileBleue {
  color: blue;
}

a[target="_blank"] {
  color: black;
  text-decoration: none;
}

a[target="_blank"]:hover {
  color: blueviolet;
}

/*  * -------Header-------- */

.barreAcceuil {
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  padding: 15px;
}

/* * -----Recherche----- */

.barreRecherche {
  display: flex;
  padding-bottom: 1em;
}

#position {
  border-radius: 15px 0px 0px 15px;
  background-color: #d9d9d9;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.formulaireRecherche {
  border: 2px solid #d9d9d9;
  padding-bottom: 30px;
  align-self: middle;
}

.boutonRecherche {
  border-radius: 0px 15px 15px 0px;
  background-color: blue;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*  *----- Filtres ------  */

.filtres {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2%;
}

.boutonFiltre {
  border-radius: 30px;
  color: black;
  border: 2px solid #d9d9d9;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.filtres > p > strong {
  justify-self: flex-start;
}

.fa-solid.bouton {
  color: blue;
}

/* * ----- Petit I (informations) ----- */

#petitI {
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  color: blue;
  padding: 7px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-style: bold;
}

/* * --------Body-----------  */

/* * ----Main---- */

section {
  display: flex;
  justify-content: space-around;
}

/* * Hebergement a Marseille */

article {
  background-color: #d9d9d9;
  width: 65%;
  max-height: 100%;
  border-radius: 15px;
}
article h1 {
  display: inline-block;
  padding-left: 6%;
}

#afficherPlus {
  padding-top: 2%;
  padding-left: 6%;
}

.conteneurHebergement {
  display: grid;
  grid-template-columns: 15em 15em 15em;
  grid-template-rows: 12em 12em;
  gap: 3em;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.boiteHebergement {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 5px;
}

.boiteHebergement:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.imageHebergement {
  width: 100%;
  max-height: 70%;
  border-radius: 15px 15px 0px 0px;
}

/* * Les plus Populaires */

aside {
  width: 30%;
  max-height: 100%;
  background-color: #d9d9d9;
  border-radius: 15px;
}

aside h1 {
  display: inline-block;
  padding-left: 12%;
}

.conteneurPopulaire {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2em;
  gap: 2em;
}

.imagePopulaire {
  width: 8em;
  height: 8em;
  border-radius: 15px 0px 0px 15px;
}

.boitePopulaire {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  width: 90%;
  height: 40%;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  justify-items: flex-start;
}

.descriptionPopulaire {
}

.etoilePopulaire {
  align-self: flex-end;
}

/* * Activites a Marseille */

h2#titreActivite {
  padding-left: 3%;
}

.conteneurActivite {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 3em;
}

.imageActivite {
  width: 100%;
  height: 90%;
  border-radius: 15px 15px 0px 0px;
}

.boiteActivite {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  width: 20%;
  height: auto;
  border-radius: 15px;
  padding: 5px;
}

.descriptionActivite {
  padding-top: 3%;
  padding-left: 1%;
}

/* *  --------Footer---------  */

.conteneurFooter {
  display: flex;
  justify-content: space-evenly;
}

footer ul {
  list-style: none;
}

footer {
  background-color: #d9d9d9;
  margin: auto;
}
