/* * Global */

html {
  font-family: "Raleway", sans-serif;
  margin: 0 50px;
  scroll-behavior: smooth;
}

body,
header,
footer {
  margin: 0 0;
}

.fa-solid.etoileVide {
  color: #d9d9d9;
}

.fa-solid.etoileBleue {
  color: #0065fc;
}

a[href="#"] {
  color: black;
  text-decoration: none;
}

h3 {
  display: inline;
}

/* *-------Header-------- */

#logoBooki {
  width: 6rem;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  padding: 15px;
}

/* * Effect de la barre au dessus */
nav ul li a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 0 10px;
  color: black;
}

nav ul li {
  margin-left: auto;
}

nav:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav ul li a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #0065fc;
  transition: 0.5s;
  left: 0;
  top: -15px;
}

nav ul li a:hover {
  color: #0065fc;
}
nav ul li a:hover:after {
  width: 100%;
}

.barreAcceuil {
  padding-bottom: 25px;
}

/* *--- 'présentation' --- */

.presentation h1 {
  font-size: 22px;
  width: 50%;
}

.presentation p {
  font-size: 16px;
  position: relative;
  bottom: 10px;
}

/* * -----Recherche----- */

.barreRecherche {
  display: flex;
  max-height: 49px;
}

#position {
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin: auto 0;
  padding-left: 5px;
  font-family: "Raleway", sans-serif;
}

input[type="text"] {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin: auto 0;
  font-family: "Raleway", sans-serif;
}

.formulaireRecherche {
  border: 1px solid #f2f2f2;
  height: 47px;
  width: 236px;
  padding: 0;
}

.boutonRecherche {
  border-radius: 0px 15px 15px 0px;
  border-color: #0065fc;
  background-color: #0065fc;
  color: white;
  padding: 15px 16px;
  font-weight: 700;
  display: inline-block;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.fa-solid.fa-magnifying-glass {
  display: none;
}

/*  *----- Filtres ------  */

.filtres {
  padding-top: 31px;
  display: flex;
  justify-content: flex-start;
}

.filtres h2 {
  font-size: 18px;
}

.conteneurBoutonFiltres {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.boutonFiltre {
  border-radius: 25px;
  color: black;
  background-color: white;
  border: 2px solid #d9d9d9;
  padding: 4px 20px;
}

.fa-solid.fa-1x {
  font-size: 22px;
}

.texteFiltre {
  font-size: 17px;
  font-weight: 700;
  position: relative;
  top: -5px;
}

.boutonFiltre i {
  color: #0065fc;
  font-size: 20px;
}

.boutonFiltre:hover {
  background: rgb(222, 235, 255, 1);
  transition: 0.7s;
}

/* * ----- Petit I (informations) ----- */

.petitI {
  padding: 35px 0 35px 0;
}

.petitI span {
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  color: #0065fc;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-style: 700;
  width: 4px;
  height: 10px;
}

/* * --------Body-----------  */

/* * ----Main---- */

.sectionHebergement {
  display: flex;
  justify-content: space-between;
}

/* * Hebergement a Marseille */

article {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 65%;
  max-height: 626px;
}
article h1 {
  display: inline-block;
  font-size: 22px;
  margin-left: 40px;
}

.conteneurHebergement {
  display: grid;
  grid-template-columns: repeat(3, 28%);
  gap: 31px;
  justify-content: center;
}

.boiteHebergement {
  min-height: 199px;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.boiteHebergement:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.imageHebergement {
  width: 100%;
  max-height: 124px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.imageHebergement img {
  height: 124px;
}

.descriptionHebergement {
  display: flex;
  flex-direction: column;
}

article h3 {
  font-size: 16px;
  font-weight: 700;
}

article p {
  font-size: 14px;
}

.descriptionHebergement h3,
.descriptionHebergement p {
  margin: 3px;
}

.etoileHebergement {
  margin-top: auto;
}

.etoileHebergement i {
  height: 12px;
  width: 12px;
}

#afficherPlus {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  bottom: 15px;
}

/* * Les plus Populaires */

aside {
  width: 31%;
  max-height: 626px;
  background-color: #f2f2f2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#titrePopulaire {
  display: flex;
  justify-content: space-between;
  margin-left: 39px;
  margin-right: 39px;
}

#titrePopulaire h1 {
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 15px;
}

#titrePopulaire i {
  color: blue;
  margin-top: auto;
  height: 14px;
}

.conteneurPopulaire {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-left: 39px;
  margin-right: 39px;
}

.boitePopulaire {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  height: 144px;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
}

.boitePopulaire:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.imagePopulaire {
  width: 38%;
  max-height: 144px;
}

.imagePopulaire img {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.descriptionPopulaire {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

aside h3 {
  font-size: 15px;
  font-weight: 700;
}

aside p {
  font-size: 14px;
}

.descriptionPopulaire h3,
.descriptionPopulaire p {
  margin: 5px;
}

.etoilePopulaire {
  margin-top: auto;
}

/* * Activites a Marseille */

.conteneurActivite {
  display: flex;
  justify-content: space-between;
  padding-bottom: 61px;
  height: 445px;
}

.boiteActivite {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  width: 22%;
  max-width: 302px;
  height: auto;
  max-height: 445px;
  border-radius: 15px;
}

.boiteActivite:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.imageActivite {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.descriptionActivite {
  display: flex;
  align-items: center;
}

.descriptionActivite h3 {
  font-size: 16px;
  margin: 11px 0 11px 15px;
}

/* *  --------Footer---------  */

footer {
  background-color: #f2f2f2;
}

footer h2 {
  font-size: 16px;
}

.conteneurFooter {
  display: flex;
  justify-content: space-around;
}

footer ul {
  list-style: none;
}

footer ul a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
}
